@import "@/styles/colors.scss";

.scrollable_screen_field {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
  .scrollable_screen_index {
    color: $text_black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .scrollable_screen_wrapper {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 100%;
    .scrollable_screen {
      width: 250px;
      height: 250px;
      background-color: $bg_gray;
    }
  }
}
