@import "@/styles/colors.scss";

.scrollable_screen_field {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
  .scrollable_screen_index {
    color: $text_black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .scrollable_window {
    width: 1012px;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    .scrollable_screen_wrapper {
      display: flex;
      gap: 4px;
      width: 200vw;
      .scrollable_screen {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: $bg_gray;
      }
    }
  }
}
