@import "@/styles/colors.scss";

.scrollable_field {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
  .scrollable_title_wrapper {
    display: flex;
    justify-content: space-between;
    .scrollable_title {
      color: $text_black;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .scrollable_edit_buttons_wrapper {
      display: flex;
      gap: 8px;
    }
  }
  .image_field {
    display: flex;
    flex-wrap: wrap;
    width: 1012px;
    gap: 4px;
    .image_card {
      position: relative;
      .delete_button_wrapper {
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 2;
      }
      .image {
        object-fit: cover;
      }
    }
  }
}
