// bg color
$bg_white: #fff;
$bg_gray: #dbd5e0; //chakra-ui gray.100

// text color
$text_black: #000;
$text_gray: #a0aec0; //chakra-ui gray.400

// border color
$border_gray: #718096; //chakra-ui gray.500
