// bg color
$bg_white: #fff;
$bg_gray: #cbd5e0; //chakra-ui gray.300
$bg_darkgray: #718096; //chakra-ui gray.500
$bg_black: #111;
$bg_red: #e53e3e; //chakra-ui red.500
$bg_lightred: #feb2b2; //chakra-ui red.200

// text color
$text_black: #000;
$text_gray: #a0aec0; //chakra-ui gray.400
$text_lightgray: #edf2f7; //chakra-ui gray.100
$text_white: #fff;

// border color
$border_gray: #718096; //chakra-ui gray.500
