@import "@/styles/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .main_screen_wrapper {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: $bg_gray;
    .image {
      object-fit: cover;
    }
  }
}
