@import "@/styles/colors.scss";

.primary_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  height: 36px;
  padding: 12px 16px;
  background: $bg_black;
  color: $text_white;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  &:hover {
    background: $bg_darkgray;
  }
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.secondary_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  height: 36px;
  padding: 12px 16px;
  background: $bg_white;
  color: $text_black;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  border: 1px solid $border_gray;
  &:hover {
    background: $bg_gray;
  }
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
